@font-face {
      font-family: "MartianGrotesk-sWdRg.otf";
      /*Can be any text*/
      src: local("MartianGrotesk-sWdRg.otf"),
            url("../fonts/MartianGrotesk-sWdRg.otf") format("opentype");
}

@font-face {
      font-family: "MartianGrotesk-WdxBd.otf";
      /*Can be any text*/
      src: local("MartianGrotesk-WdxBd.otf"),
            url("../fonts/MartianGrotesk-WdxBd.otf") format("opentype");
}

@font-face {
      font-family: "satoshi-regular";
      /*Can be any text*/
      src: local("Satoshi-Regular.otf"),
            url("../fonts/Satoshi-Regular.otf") format("opentype");
}

.work {
      display: flex;
      justify-content: space-between;

      /* gap: 24px; */
      margin-bottom: 24px;
}

.show {
      gap: 5px;
      margin-bottom: 123.5px;
      margin-top: 146.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: 'MartianGrotesk-sWdRg.otf';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      /* identical to box height, or 21px */

      letter-spacing: 0.013em;

      /* text 1 */

      color: #F1F1F1;
}

.other {
      margin-top: 84px;
      font-family: 'MartianGrotesk-sWdRg.otf';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 130%;
      /* identical to box height, or 47px */

      letter-spacing: 0.013em;
      margin-bottom: 76px;

      /* text 1 */

      color: #F1F1F1;

}

.engagementBox {
      display: flex;
      /* gap: 91px; */
      justify-content: space-between;
      align-items: center;
      margin-bottom: 88px;

}

.cursor {
      position: fixed;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #B0DAFF;
      transition: transform 3s;
      z-index: 99999;
}

.skillSection {
      display: flex;
      gap: 10px;
      /* justify-content: space-between; */
      /* align-items: center; */
}

.section {
      display: flex;
      gap: 10px;
}

.playlist {
      display: flex;
      flex-direction: column;
      gap: 24px;
}

.socials {
      display: flex;
      gap: 24px;
      align-items: center;
}

.social {
      display: flex;
      gap: 24px;
}

.sc {
      display: flex;
      flex-direction: column;
      gap: 24px;
}

.hover-effect {
      position: absolute;
      background-color: pink;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      pointer-events: none;
      z-index: 9999;
}

.qwidHeader {
      width: 1230px;
      height: 643px;
      background: #48BBED;
      border-radius: 24px;
}

.qwidContainer {
      margin-top: 83px;
      margin-left: 48px;
      display: flex;
      gap: 193px;
}