@font-face {
      font-family: "MartianGrotesk-sWdRg.otf";
      /*Can be any text*/
      src: local("MartianGrotesk-sWdRg.otf"),
            url("../fonts/MartianGrotesk-sWdRg.otf") format("opentype");
}

@font-face {
      font-family: "MartianGrotesk-WdxBd.otf";
      /*Can be any text*/
      src: local("MartianGrotesk-WdxBd.otf"),
            url("../fonts/MartianGrotesk-WdxBd.otf") format("opentype");
}

@font-face {
      font-family: "satoshi-regular";
      /*Can be any text*/
      src: local("Satoshi-Regular.otf"),
            url("../fonts/Satoshi-Regular.otf") format("opentype");
}

.work {
      display: flex;
      justify-content: space-between;

      /* gap: 24px; */
      margin-bottom: 24px;
}

.show {
      gap: 5px;
      margin-bottom: 123.5px;
      margin-top: 146.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-family: 'MartianGrotesk-sWdRg.otf';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      /* identical to box height, or 21px */

      letter-spacing: 0.013em;

      /* text 1 */

      color: #F1F1F1;
}

.other {
      margin-top: 84px;
      font-family: 'MartianGrotesk-sWdRg.otf';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 130%;
      /* identical to box height, or 47px */

      letter-spacing: 0.013em;
      margin-bottom: 76px;

      /* text 1 */

      color: #F1F1F1;

}

.engagementBox {
      display: flex;
      /* gap: 91px; */
      justify-content: space-between;
      align-items: center;
      margin-bottom: 88px;

}

.cursor {
      position: fixed;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #B0DAFF;
      transition: transform 3s;
      z-index: 99999;
}

.skillSection {
      display: flex;
      /* gap: 10px; */
      justify-content: space-between;
      /* align-items: center; */
}

.section {
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;
}

.playlist {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 29.3%;
}

.socials {
      display: flex;
      gap: 24px;
      align-items: center;
}

.social {
      display: flex;
      gap: 24px;
}

.sc {
      display: flex;
      flex-direction: column;
      gap: 24px;
}

.hover-effect {
      position: absolute;
      background-color: pink;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      pointer-events: none;
      z-index: 9999;
}

.qwidHeader {
      /* width: 1100px; */
      width: 100%;
      height: 643px;
      background: #48BBED;
      border-radius: 24px;
      overflow: hidden;
}


.qwidContainer {
      margin-top: 33px;
      margin-left: 48px;
      display: flex;
      align-items: center;
      gap: 44px;
      overflow: hidden;
}

.qwidTitle {
      font-family: 'MartianGrotesk-WdxBd.otf';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 130%;
      margin-bottom: 16px;
      /* or 31px */

      letter-spacing: 0.013em;

      color: #FFFFFF;
}

.qwidYear {
      font-family: 'satoshi-regular';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      /* identical to box height, or 21px */

      letter-spacing: 0.013em;

      /* text 1 */

      color: #F1F1F1;
}

.qwidNiches {
      display: flex;
      gap: 16px;
      margin-bottom: 24px;
}

.qwidNiche {
      font-family: 'satoshi-regular';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      padding: 10px;
      border-radius: 100px;
      /* identical to box height, or 21px */

      letter-spacing: 0.013em;

      /* text 1 */

      color: #F1F1F1;
      background: linear-gradient(90deg, rgba(238, 232, 232, 0.19) 0%, rgba(248, 248, 248, 0.106875) 97.27%, rgba(232, 228, 228, 0) 100%);
      border: 1px solid #C7C2C2;
}

.qwidWorkTitle {
      font-family: 'satoshi-regular';
      margin-bottom: 24px;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      /* or 31px */

      letter-spacing: 0.013em;

      /* text 1 */

      color: #F1F1F1;
}

.qwidLast {
      display: flex;
      flex-direction: column;
      gap: 5px;
}

.lastItem {
      font-family: 'satoshi-regular';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      /* identical to box height, or 21px */

      letter-spacing: 0.013em;

      /* text 1 */

      color: #F1F1F1;
}

.qwidImg {
      margin-top: 63px;
      width: 722.5px;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 12px;
}

.qwid {
      width: 100%;

}


.qwidOverView_Problem {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 56px;
}

.qwidOverview,
.qwidProblem {
      width: 49.3%;
      height: 476px;

      /* shades of darker */

      background: #21201F;
      border-radius: 24px;
      border: 1px solid #555151;
}

.overviewContainer {
      margin: 80px 10px auto 56px
}

.overviewHeader {
      font-family: 'MartianGrotesk-WdxBd.otf';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 130%;
      /* or 31px */

      letter-spacing: 0.013em;

      color: #FFFFFF;
      margin-bottom: 40px;
}

.overviewDesc {
      font-family: 'satoshi-regular';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 130%;
      /* or 26px */

      letter-spacing: 0.013em;

      color: #FFFFFF;

}

.discovery {
      width: 100%;
      /* height: 654px; */
      margin-top: 24px;
      /* padding-top: 4px; */
      padding-bottom: 34px;


      /* shades of darker */

      background: #21201F;
      border-radius: 24px;
      border: 1px solid #555151;
}

.discoveryContainer {
      margin-top: 80px;
      margin-left: 56px;
      margin-right: 56px;
}

.discoveryTitle {
      font-family: 'MartianGrotesk-WdxBd.otf';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 130%;
      margin-bottom: 40px;
      /* or 31px */

      letter-spacing: 0.013em;

      color: #FFFFFF;
}

.discoveryDesc {
      font-family: 'satoshi-regular';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 130%;
      /* or 26px */

      letter-spacing: 0.013em;

      color: #FFFFFF;
      margin-bottom: 40px;
}

.listTitle {
      font-family: 'satoshi-regular';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      /* identical to box height, or 26px */


      color: #FFFFFF;
}

li {
      font-family: 'satoshi-regular';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      /* or 26px */

      letter-spacing: 0.013em;

      color: #FFFFFF;
      margin-bottom: 8px;
}

.wireFrames {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      align-items: center;
      justify-content: center;
}

.wireImg {
      width: 242.67px;
      height: 356.89px;
      object-fit: cover;
}

.wire {
      width: 100%;
      height: auto;
      margin-top: 24px;
      padding-bottom: 20px;
      background: #21201F;
      border-radius: 24px;
      border: 1px solid #555151;
      /* display: flex; */

}

.before {
      object-fit: cover;
      width: 500px;
      height: 290.4px;
      border-radius: 12px;
}

.after {
      object-fit: cover;
      width: 500.79px;
      height: 371px;
      border-radius: 12px;
}

.proof {
      font-family: 'satoshi-regular';
      margin-top: 15px;
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      /* identical to box height, or 21px */

      letter-spacing: 0.013em;

      color: #FFFFFF;
}

.dContainer {
      margin-top: 20px;

}

.Frames {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
}

.analysis {
      width: 100%;
      height: 580px;
      object-fit: cover;
}

.send {

      width: 100%;
      height: auto;
      margin-top: 24px;
      padding-bottom: 20px;
      background: #21201F;
      border-radius: 24px;
      border: 1px solid #555151;

}

.sendTitle {
      font-family: 'MartianGrotesk-WdxBd.otf';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 130%;
      margin-bottom: 40px;
      /* or 31px */

      letter-spacing: 0.013em;

      color: #FFFFFF;

}

.sendContainer {
      margin-top: 80px;
      margin-left: 26px;
      margin-right: 26px;

}

.sending {
      width: 520px;
      height: 450px;
      object-fit: cover;
}

.balanceContainer {
      margin-top: 80px;
      margin-left: 26px;
      margin-right: 26px;

}

.balance {
      width: 100%;
      height: auto;
      margin-top: 24px;
      padding-bottom: 20px;
      background: #21201F;
      border-radius: 24px;
      border: 1px solid #555151;

}

.balanceTitle {
      font-family: 'MartianGrotesk-WdxBd.otf';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 130%;
      margin-bottom: 40px;
      letter-spacing: 0.013em;
      color: #FFFFFF;

}

.convert {
      margin-left: 40px;
}

.card_2 {
      position: relative;
      right: 50px;
      bottom: 20px;
}

.card_1 {
      position: relative;
      left: 20px;

}

.left_card {
      width: 570px;

}

.lastImg {
      display: flex;
      align-items: center;
      justify-content: center;
}

.finalImg {
      width: 704px;
      height: 679.04px;
      position: relative;
      bottom: 170px;
      object-fit: cover;
}

.virtual {
      height: 1250px;
}

.settingsImg {
      width: 840px;

}

.pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 70px;
      /* margin-bottom: 70px; */
}

.paginate {
      font-family: 'MartianGrotesk-WdxBd.otf';
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 130%;
      /* or 31px */

      letter-spacing: 0.013em;
      cursor: pointer;

      /* text 1 */

      color: #F1F1F1;
}

.scrollButton {
      position: fixed;
      bottom: 0;
      right: 0;
      cursor: pointer;
      background-color: #21201F;
      border-radius: 8px;
}

.pudioHeader {
      width: 100%;
      height: 633px;
      background: #014B94;
      border-radius: 24px;
      overflow: hidden;

}

.pudioHeaderImg1 {
      width: 241px;
      height: 522.53px;
      object-fit: cover;
      position: relative;
      top: 100px;

}

.pudioHeaderImg2 {
      width: 241px;
      height: 522.53px;
      object-fit: cover;
}

.pudioImages {
      display: flex;
      gap: 24px;
}

.pudioContainer {
      margin-top: 33px;
      margin-left: 48px;
      display: flex;
      align-items: center;
      gap: 150px;
      /* overflow: hidden; */

}

.pudioHeadline {
      font-family: 'satoshi-regular';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      /* identical to box height, or 26px */

      letter-spacing: 0.013em;

      color: #FFFFFF;

}

.pudioLongCard {
      width: 49.3%;
      height: 630px;
      background: #21201F;
      border-radius: 24px;
      border: 1px solid #555151;
}

.longCardContainer {
      /* margin-top: 63px;
      margin-left: 56px; */
      margin: 80px 30px auto 56px
}

.Desc {
      color: white;
      font-family: 'satoshi-regular';

}

.talkToUsers {

      padding-top: 80px;
      padding-bottom: 80px;
      padding-left: 56px;
      background: #21201F;
      border-radius: 24px;
      border: 1px solid #555151;
      margin-top: 56px;
}

.talkContainer {
      margin-right: 40px;
      margin-left: 40px;
}

.persona {
      display: flex;
      /* gap: 24px; */
      justify-content: space-between;
      width: 100%;
      margin-top: 56px;
      /* align-items: flex-start; */
}

.userPersona {
      padding-top: 30px;
      padding-bottom: 80px;
      background: #21201F;
      border-radius: 24px;
      border: 1px solid #555151;
      width: 49.3%;
}

.personaContainer {
      margin-left: 30px;

      margin-right: 15px;

}

.personaBio {
      display: flex;
      gap: 30px;
      align-items: center;
      margin-bottom: 28px;
}

.bioImg {
      width: 127px;
      height: 218px;
      object-fit: cover;
}

.bioTag {
      color: #F1F1F1;
      background-color: #6D6C6C;
      padding-top: 3.5px;
      padding-bottom: 3.5px;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 4px;
      font-family: 'satoshi-regular';
      width: 25px;
}

.bioExp {
      color: #F1F1F1;
      font-family: 'satoshi-regular';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 150%;
      /* or 24px */

      letter-spacing: -0.019em;

      /* text 3 */

      color: #D2CECE;
}

.bioDetailsTag {
      color: #F1F1F1;
      background-color: #6D6C6C;
      padding-top: 3.5px;
      padding-bottom: 3.5px;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 4px;
      font-family: 'satoshi-regular';
      width: 45px;

}

.profileDetails {
      display: flex;
      gap: 24px;
      align-items: center;
}

.detailsX {
      font-style: normal;
      font-family: 'satoshi-regular';
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      /* identical to box height, or 24px */

      letter-spacing: -0.019em;

      /* text 3 */

      color: #D2CECE;

}

.detailsX {
      margin-top: 8px;
      margin-bottom: 8px;
}

.goals {
      color: #F1F1F1;
      background-color: #6D6C6C;
      padding-top: 3.5px;
      padding-bottom: 3.5px;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 4px;
      font-family: 'satoshi-regular';
      width: 45px;

}

.profileList {
      color: #D2CECE;

}

.frustrations {
      color: #F1F1F1;
      background-color: #6D6C6C;
      padding-top: 3.5px;
      padding-bottom: 3.5px;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 4px;
      font-family: 'satoshi-regular';
      width: 79px;

}

.mb-5 {
      margin-bottom: 44px;
}

.userFlow {
      background: #21201F;
      border-radius: 24px;
      border: 1px solid #555151;
      padding-bottom: 65px;
      margin-top: 56px;

}

.userFlowContainer {
      margin-top: 60px;
      margin-left: 56px;
      margin-right: 56px;

}

.userFlowImg {
      width: 100%;
      height: 500px;
      object-fit: cover;
}

.pudioPaper {
      width: 100%;
      height: 355px;
      object-fit: cover;
}

.hifiMockups {
      background: #21201F;
      border-radius: 24px;
      border: 1px solid #555151;
      padding-top: 55px;
      padding-bottom: 65px;
      margin-top: 56px;


}

.hifiHeader {
      font-family: 'MartianGrotesk-WdxBd.otf';
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 130%;
      /* or 31px */

      letter-spacing: 0.013em;

      color: #FFFFFF;
      margin-bottom: 40px;
      margin-left: 56px;

}

.hifiImages {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 70px;
}

.hifiImg {
      width: 243.4px;
      height: 527.73px;
      object-fit: cover;

}

.authenticationImages {
      display: flex;
      align-items: center;
      justify-content: center;
      /* gap: 10px; */
      flex-wrap: wrap;

}

.pudioHomeContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      /* width: 530px; */
}

.pudioTextHelp {
      font-family: 'satoshi-regular';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;

      text-align: center;
      letter-spacing: 0.013em;

      color: #FFFFFF;
      width: 270.5px;
      margin-top: 0;
}

.pudioHomeImages {
      display: flex;
      flex-direction: row;
      /* flex-wrap: wrap; */
}