:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  /* margin-left: 86px;
  margin-right: 86px; */
  background-color: #040404;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 1re, ;

}



@media (min-width: 768px) and (max-width: 1024px) {
  body {
    padding: 0 20px;
  }


  /* CSS */

}